$font-family-sans-serif: "Montserrat", -apple-system, blinkmacsystemfont,
  "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Nunito Sans", sfmono-regular, menlo, monaco, consolas,
  "Liberation Mono", "Courier New", monospace;

$border-radius: 0.1rem;

$info-color: #3195a5;
$success-color: #3e884f;
$warning-color: #b69329;
$error-color: #c43d4b;

$dark-btn-background: #131113;
$light-btn-background: #ececec;

$button-text-color: #fff;

$primary-color: #10529e;
$secondary-color: #22aee5;
$muted-color: #909090;
$white: #fff;
$blue-light-3: #f5faff;

$text-primary: #22aee5 !default;

$box-shadow--modal: 0 0 1px 0 rgba(10, 31, 68, 0.1),
  0 26px 26px 0 rgba(10, 31, 68, 0.12);

:root {
  --primary: #{$primary-color};
  --text-primary: #{$primary-color};
}

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/forms";